nav ul li a i{
    margin-right: 6px;
}

h6{
    color: white;
    text-align: center;
}

hr{
    margin: 0;
}

nav ul ul{
    position: static;
    display: none;
    background: #0d1b29;
    padding: 0px;
}

nav ul ul:hover{
    background: #0d1b29!important;
}

nav ul li ul.menu-show.active{
    display: block;
}

nav ul ul.menu-show.show{
    display: block;
}

nav ul ul li{
    line-height: 40px;
    list-style: none;
}

nav ul ul li a{
    font-size: 12px;
    color: #e6e6e6;
    padding-left: 80px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    text-decoration: none;
    display: block;
}

nav ul ul li a:hover{
    color: white!important;
    background: #0d1b29!important;
    text-decoration: none;
    display: block;
    border-left-color: rgb(202, 23, 59);
    border-right-color: rgb(202, 23, 59);
}

nav ul ul li a.user.active{
    border-left-color: rgb(202, 23, 59);
    border-right-color: rgb(202, 23, 59);
}

nav ul li a span{
    margin-left: 35px;
    margin-top: 3px;
    position: absolute;
    transform: translateX(-50%) rotate(-90deg);
    transition: transform 0.5s;
}

nav ul li a span.rotate{
    transform: translateX(-50%);
}

/* nav ul li a.dropdown.active span{
    transform: translateX(-50%);
} */
